.link_items {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  padding: 1rem 3rem 0 0;
}

.link_items a::after {
  content: '';
  display: flex;
  flex-direction: row;
  width: 0;
  height: 1.4px;
  background: #000;
  transition: width 0.3s ease-in;
  -webkit-transition: width 0.3s ease-in;
  -moz-transition: width 0.3s ease-in;
  -ms-transition: width 0.3s ease-in;
  -o-transition: width 0.3s ease-in;
}

.link_items a:hover::after {
  width: 100%;
}

.button {
  cursor: pointer;
  font: inherit;
  border: none;
}

.icon {
  width: 1.35rem;
  height: 1.35rem;
  margin-right: 0.5rem;
}

.badge {
  background-color: #b94517;
  padding: 0.25rem 1rem;
  border-radius: 25px;
  margin-left: 1rem;
  font-weight: bold;
}

.button:hover .badge,
.button:active .badge {
  background-color: #92320c;
}

.bump {
  animation: bump 300ms ease-out;
}

@keyframes bump {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(0.9);
  }
  30% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}
